# Dependencies
**/node_modules/

# Neovim cache, state, and share directories for all environments
**/.cache/
**/.local/

# But, do NOT ignore the .gitkeep files.
# This makes sure the directory structure is tracked by Git.
!**/.gitkeep
